<form method="POST" action="/scrape">
    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required>
    
    <label for="website">Website:</label>
    <select id="website" name="website">
      <option value="austria">Austrija</option>
      <option value="italia">Italija</option>
      <option value="canada">Kanada</option>
      <option value="belgium">Belgija</option>
      <option value="danish">Danska</option>
      <option value="switz">Svajcarska</option>
      <option value="germany">Nemacka</option>
      <option value="france">Francuska</option>
      <option value="sweden">Svedska</option>
      <option value="norway">Norveska</option>
    </select>
    
    <button type="submit">Download</button>
  </form>
  